In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [31]:
texts = ["good movie", "not a good movie", "did not like", "I like it", "Good one" ]

In [32]:
# Using default tokenizer in TfIdVectorizer

tfidf = TfidfVectorizer(min_df=1, max_df=1.0)
features = tfidf.fit_transform(texts)

In [33]:
pd.DataFrame(features.todense(), columns=tfidf.get_feature_names())

        did      good        it      like     movie       not       one
0  0.000000  0.638711  0.000000  0.000000  0.769447  0.000000  0.000000
1  0.000000  0.506204  0.000000  0.000000  0.609818  0.609818  0.000000
2  0.659118  0.000000  0.000000  0.531772  0.000000  0.531772  0.000000
3  0.000000  0.000000  0.778283  0.627914  0.000000  0.000000  0.000000
4  0.000000  0.556451  0.000000  0.000000  0.000000  0.000000  0.830881

In [34]:
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1,2))
features = tfidf.fit_transform(texts)

In [35]:
pd.DataFrame(features.todense(), columns=tfidf.get_feature_names())

   good movie      like     movie       not
0    0.707107  0.000000  0.707107  0.000000
1    0.577350  0.000000  0.577350  0.577350
2    0.000000  0.707107  0.000000  0.707107
3    0.000000  1.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000